[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "qlcData"]
	path = qlcData
	url = https://github.com/cysouw/qlcdata
[submodule "qlcMatrix"]
	path = qlcMatrix
	url = https://github.com/cysouw/qlcmatrix
[submodule "qlcVisualize"]
	path = qlcVisualize
	url = https://github.com/cysouw/qlcvisualize
